.service-detail {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.service-detail img {
  margin: 3rem auto;
  max-height: 420px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 30px 60px rgba(0,0,0,.2);
}

.service-detail p {
  max-width: 850px;
  margin: auto;
  line-height: 1.8;
  color: #555;
}
